body {
  color: #32344f;
}

.sombra {
  text-shadow: 1px 1px 5px #464646a4;
}

.morono {
  color: #5b5d72;
}

.skills-style {
  color: #0084b9;
  filter: drop-shadow(7px 7px 15px #32344f58);
}

/* body {
  background-image: url(../assets/img/background-mountain.jpg) !important;
  background-repeat: no-repeat;

} */